@charset "utf-8";
/*-------------------------------------------------------------------
    파일정의: Web fonts
    순서:    fonts
-------------------------------------------------------------------*/

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans light'), local('NotoSans-light'), url(../../fonts/NotoSans-light.eot);
    src: url(../../fonts/NotoSans-light.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans-light.woff) format('woff');;
  }
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Regular'), local('NotoSans-regular'), url(../../fonts/NotoSans-regular.eot);
    src: url(../../fonts/NotoSans-regular.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans-regular.woff) format('woff');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-medium'), url(../../fonts/NotoSans-medium.eot);
    src: url(../../fonts/NotoSans-medium.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans-medium.woff) format('woff');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-bold'), url(../../fonts/NotoSans-bold.eot);
    src: url(../../fonts/NotoSans-bold.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans-bold.woff) format('woff');
}